body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#queue-container {
    margin-top: 50px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: aqua;
}

#queue,
#stats,
#simulation-time {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 300px;
    display: inline-block;
    text-align: left;
}

/* Cuadro de simulacion clientes*/

#queue {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    /* Contorno con transparencia */
    position: absolute;
    top: 470px; /* Arriba */
    left: 750px; /* Izquierda */
    width: 1000px; /* Anchura */
    height: 145px; /* Altura */
}


#queue img {
    width: 40px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    /* Mantiene la proporción de aspecto */
    margin-right: 0.5px;
    /* Agrega un pequeño espacio entre las imágenes */
}

/* Cambiar la ubicación del botón */
#start-simulation {
    /* Puedes utilizar propiedades como 'position', 'top', 'left', 'right', 'bottom' para cambiar la ubicación del botón */
    position: absolute;
    /* Por ejemplo, aquí se establece la posición absoluta */
    top: 300px;
    /* Se ajusta la distancia desde la parte superior */
    left: 150px;
    /* Se ajusta la distancia desde la izquierda */
}

/* Cambiar el color del botón */
#start-simulation {
    /* Puedes utilizar la propiedad 'background-color' para cambiar el color de fondo del botón */
    background-color: rgba(0, 0, 0, 0);
    /* Por ejemplo, aquí se establece un color verde */
    color: white;
    /* Se establece el color del texto en blanco para que contraste con el fondo */
}

.imagen-aparte {
    width: 30px; /* Ancho de la imagen */
    height: 30px; /* Altura de la imagen */
    position: absolute; /* Posición absoluta */
    top: 100px; /* Distancia desde la parte superior */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Ajuste para centrar horizontalmente */
    border-radius: 50%; /* Bordess redondeados para hacer un círculo */
    border: 2px solid #ccc; /* Borde sólido con color gris */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

#image-container{
    background-color: rgba(0, 0, 0, 0);
    /* Contorno con transparencia */
    position: absolute;
    top: 450px; /* Arriba */
    left: 660px; /* Izquierda */
    width: 80px; /* Anchura */
    height: 200px; /* Altura */
}

#image-container img {
    width: 85px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    /* Mantiene la proporción de aspecto */
    margin-right: 5px;
    /* Agrega un pequeño espacio entre las imágenes */
}


#imagenPostes{
    background-color: rgba(168, 4, 4, 0);
    /* Contorno con transparencia */
    position: absolute;
    top: 420px; /* Arriba */
    left: 750px; /* Izquierda */
    width: 500px; /* Anchura */
    height: 240px; /* Altura */
}

#imagenPostes img {
    width: 500px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    /* Mantiene la proporción de aspecto */
    margin-right: 5px;
    /* Agrega un pequeño espacio entre las imágenes */
}

